<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Cube Flow</title>

    <link rel="stylesheet" href="../../../public/css/tailwind.css">
    <style>
        body {
            background-color: #E8E9FE;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .registerContainer {
            width: 100%;
            max-width: 400px;
            height: 420px;
            box-shadow: 0 16px 32px 0 rgba(1, 3, 41, 0.1);
        }

        .mainTitle {
            color: #3189DE;
            margin: 32px 0 16px;
        }
    </style>
</head>

<body>
    <div class="registerContainer bg-white rounded-lg relative">
        <!-- Logo -->
        <div class="logoContainer absolute -top-8 left-1/2" style="transform: translateX(-50%);">
            <img src="../../images/cubeflow-logo.jpg" alt="Logo"
                class="w-16 h-16 rounded-full border-2 border-[#A6A9FC]">
        </div>

        <h2 class="mainTitle text-center text-2xl font-bold">Cube Flow</h2>
        <form action="" method="POST" class="px-10">
            <div class="bg-blue-300 rounded-lg p-3 flex items-center mb-4">
                <span class="text-gray-600 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                </span>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>

            <div class="bg-blue-300 rounded-lg p-3 flex items-center mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>

                    <input type="text" id="username" name="username" placeholder="Tên người dùng">
            </div>

            <div class="bg-blue-300 rounded-lg p-3 flex items-center mb-4">
                <span class="text-gray-600 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                </span>
                <input type="text" id="username" name="username" placeholder="Tên người dùng">
            </div>

        </form>
    </div>
</body>

</html>